



main {
    height: 800px;
    width: 1400px;
    background-image: url(images/headphones_hero_1.jpg);
    position: relative;
}

/*  beginning of the header session */

header {
    height: 32px;
    width: 1000.39px;
    position: absolute;
    top: 27.76px;
    left: 200.61px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    height: 32px;
    width: 161px;
}

.navbar-menu {
    height: 32px;
    width: 255px;
    padding-left: 30px;
}

.navbar-menu ul {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
}

.nav .nav-item {
    font-family: Open Sans ;
    font-weight: 700;
    font-size: v1.6rem;
  }
  
  .nav .nav-link {
    display: block;
    padding-top: 5px;
    position: relative;
    text-decoration: none;
    color: white;
  }
  
  .nav .nav-link:hover {
    color: white);
    text-decoration: none;
  }
  
  .nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 0;
    height: 0.2rem;
    /* transition: var(--transition-duration) var(--transition-cubic-bezier); */
  }
  
  .nav .nav-item:hover .nav-link::before {
    background-color: #D73953;
    width: 100%;
  }
  /*.header-logo .nav-item + .nav-item {
    margin: var(--nav-item-margin);
  } */

  /* end of header section! */

  /* main part div inside the main element starts here */

  #main-part {
    width: 637px;
    height: 313px;
    position: absolute;
    top: 372px;
    left: 382px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: source sans pro;
    font-weight: 700;
    font-size: 32;
  }

  button {
    background-color: #FF6565;
    width: 162px;
    height: 44px;
    border-radius: 25px;
    position: absolute;
    top: 100px;
    left: 237px;
    color: white;
    font-family: source sans pro;
  }
  .main-part-p {
    font: source sans pro;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 120px;
  }
/* main part div inside the main element ends here */

/* section for WHAT WE DO starts here */

#what-we-do {
    width: 1400px;
    height: 680px;
    background-color: white;
}

#part-1 {
    width: 637px;
    height: 184px;
    position: absolute;
    top: 910px;
    left: 382px;
    text-align: center;
    font-family: source sans pro;
}
#part-2 {
    width: 1002px;
    height: 193px;
    position: absolute;
    top: 1191px;
    left: 200px;
    display: flex;
    flex: 1 1 1 1 auto;
    justify-content:space-between;
    gap:inherit;
}
.part-2-row {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: source sans pro;
}
/* section for WHAT WE DO ENDS here */

/* section for OUR RESULTS starts here */

#part-3 {
    width: 1400px;
    height: 650px;
    position: absolute;
    top: 1494px;
    background-image: url(images/headphones_hero_2.jpg);
    color: white;
    text-align: center;
    font-family: source sans pro;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part-3-p-div {
    width: 548px;
    height: 140px;
    text-align: center;
    margin-left: 400px;
}
.dot {
    height: 190px;
    margin-top: 40px;
    margin-left: 207px;
    margin-right: 207px;
    display: flex;
    justify-content: space-between;
    gap: inherit;
    flex: 1 1 1 1 auto;
}
.dot-div {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: source sans pro;
    width: auto;
    position: relative;
}
.dot-p {
    position: absolute;
    margin-left: 40px;
    margin-top: 50px;
    font-family: source sans pro;
    font-size: 14px;
    font-weight: 400;
}
.dot-h {
    position: absolute;
    margin-left: 70px;
    margin-top: 0px;
    font-family: source sans pro;
    font-size: 46px;
    font-weight: 700;
}
/* section for OUR RESULTS sends here */

/* contact us section starts here */

#contact-us {
    width: 335px;
    height: 373px;
    position: absolute;
    top: 2254px;
    left: 533px;
}
input {
    outline: none;
    overflow: visible;
    width: 100%;
    text-align: left;
    box-shadow: none;
    font-weight: 300;
    background: transparent;
    border: none;
    border-bottom: 3px solid #c4a7a7;
    font-size: 18px;
    padding-left: 0;
    height: 35px;
    margin-bottom: 30px;
}

/* contact us section ends here */

/* footer starts here */

footer {
    width: 1400px;
    height: 249px;
    margin-top: 1300px;
    background-color: #071629;
    ;
}
.footer-socials {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 30px;
    position: absolute;
    margin-top: -35px;
    margin-left: 1050px;
}