/* function starts here */
:root 
{
 --primary-color:white;

}

/* the css styling of our web page starts here! */

/* body {
    width: 1440px;
} */

.container-header {
    border: 3px solid white;
    width: 100%;
    height: auto;
    background-image: url(images/Object.png);
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    width: 80%;
    height: 8.4vh;
    margin-left: 10%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img {
    width: 20%;
}

header > ul {
    list-style: none;
    padding-top: -30px;
    display: flex;
    padding-top: 0%;
    column-gap: 50px;
    color: var(--primary-color);
    text-decoration: none;
}
header > ul > a:hover {
    color: red;
}
 a {
    text-decoration: none;
    font-family: source sans pro;
    color: var(--primary-color);
}

/* section in the header container starts here */

section {
    width: 80%;
    height: 140vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.section-get-schooled {
    width: 70%;
    height: 50vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
}
.section-get-schooled > h1 {
    font-size: 100px;
    font-weight: 800;
    color: white;
    font-family: source sans pro;
    margin-top: 40px;
}
.get-schooled-h4 {
    width: 40%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: source sans pro;
    color: var(--primary-color);
    margin-top: -100px;
}
.section-get-schooled > button {
    background-color: hsla(274, 100%, 72%, 1);
    height: 7vh;
    width: 25%;
    color: var(--primary-color);
    margin-top: 50px;
    border-radius: 15px;
    border-style: none;
    font-family: source sans pro;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.6px;
    text-align: center;
}
.section-get-schooled > button:hover {
    opacity: 80%;
}
.section-h1 {
    margin-top: 50px;
    color: var(--primary-color);
    font-family: source sans pro;
    font-weight: 100;
}
.authors-flex {
    width: 90%;
    height: 40vh;
    margin-top: 0vh;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    overflow: hidden;
}
.authors {
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    color: var(--primary-color);
    overflow: hidden;
}
.authors > h3 {
    margin-top: 0px;
    font-family: source sans pro;
}
.authors > p {
    margin-top: -10px;
    font-family: source sans pro;
    font-style: italic;
    overflow: hidden;
}


/* main section of our page starts here! */

main {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    margin-top: -70px;
    margin-left: -2px;
}

.section-testimony {
    width: 100%;
    height: 66.6vh;
    margin-left: 5px;
    /* margin-top: -280px; */
    display: flex;
    flex-direction: row;
    background-color: hsla(274, 100%, 72%, 1);
    overflow-y: visible;
}

.section-testimony > img {
    margin-left: 15%;
}

.testimony-text {
    color: white;
    font-family: source sans pro;
    width: 55%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    align-items: flex-start;
    margin-top: 50px;
}

.testimony-text > p {
    margin-top: -5px;
}

/* the tutorial section starts here */

#tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 450px;
    margin: 5%;
}
.video {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}
.video-item {
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    color: var(--primary-color);
    overflow: hidden;
}
#tutorials > h1 {
    font-family: source sans pro;
}
#tutorials > h1 > strong {
    color: hsla(274, 100%, 72%, 1);
}

.video-text {
    height: 90px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10px;
    overflow: hidden;
}

.video-text > p {
    color: black;
    font-family: source sans pro;
    font-size: 12px;
    margin-top: -10px;
}
.video-text > h3 {
    color: black;
    font-family: source sans pro;
    font-size: 16px;
    margin-top: 10px;
}
.philip {
    display: flex;
    height: 20px;
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    align-items: center;
}
.philip > img {
    width: 10%;
    height: 80%;
}
.philip > p {
    color: hsla(274, 100%, 72%, 1);
    margin-left: 5px;
    font-size: 12px;
    font-family: source sans pro;
}
.star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 90%;
    margin-left: 20px;
    color: hsla(274, 100%, 72%, 1);
    font-family: source sans pro;
    font-size: 12px;
    margin-right: 20px;
}
.star > img {
    height: 50%;
    width: 40%;
}


/* the membership section starts here */

#membership {
    height: 502px;
    width: 100%;
    background-color: #071629;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.member-flex {
    width: 90%;
    height: 153px;
    display: flex;
    justify-content: space-between;
}
#membership > h1 {
    color: white;
    font-family: source sans pro;
} 
#membership > h1 > strong {
    color: hsla(274, 100%, 72%, 1);
}
.m-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: white;
    font-family: source sans pro;
    overflow: hidden;
}
.m-flex-item > img {
    height: 40px;
    margin-top: 5px;
}
.m-flex-item > h3 {
    margin-top: 10px;
}
.m-flex-item > p {
    text-align: center;
    margin-top: -10px;
}
#membership > button {
    width: 10%;
    height: 40px;
    background-color: hsla(274, 100%, 72%, 1);
    color: white;
    font-family: source sans pro;
    border-radius: 10px;
    overflow: hidden;
}
#membership > button:hover {
    opacity: 90%;
}

/* this is the cascading styling for the frequently asked questions part */

#faq {
    width: 80%;
    height: 707px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    margin-top: 0px;
    overflow: hidden;
}
.faq-div {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.faq-item {
    width: 40%;
    height: 242px;
    display: flex;
    flex-direction: column;
    font-family: source sans pro;
    overflow: hidden;
}
#faq > h1 {
    font-weight: 100;
    font-size: 60px;
    font-family: source sans pro;
}

/* footer part of our web page starts here for the styling */

footer {
    background-color: #071629;
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
.footer-nav {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    overflow: hidden;
}
.footer-socials {
    width: 12%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
footer > p {
    color: rgb(70, 70, 75);
    font-family: source sans pro;
}