body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: white;
}
aside {
    flex: 1;
    overflow-y: auto;
}
header{
    background-color: green;
}
footer {
    background-color: green;
}