body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
main article {
    flex: 2;
    overflow-y: auto;
    background-color: white;
} 
main aside {
    flex: 1;
    overflow-y: auto;
}
header{
    background-color: green;
}
header div {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
header div nav {
    padding-right: 40px;
}
header div div {
    padding-left: 40px;
}
footer {
    background-color: green;
}
table, th, tr, td {
    border: 1px solid black;
}
table {
    width: 350px;
    height: 300px;
    background-color: antiquewhite;
}
article p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
article h1, h2, h3, h5 {
    padding-left: 10px;
    padding-right: 10px;
}
